::-webkit-scrollbar {
	//width: 0;
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #212529;
	box-shadow: 0px 5px 10px red;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #9a00d7, #0084ff);
	border-radius: 10px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	padding: 0 20px;
}
