::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #212529;
	-webkit-box-shadow: 0px 5px 10px red;
	box-shadow: 0px 5px 10px red;
}

::-webkit-scrollbar-thumb {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(#002fff)
	);
	background: linear-gradient(to bottom, red, #002fff);
	border-radius: 10px;
	border: 2px solid #15c1e5;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
